:root {
  --background-color-black: #000000;
  --color-dark-beige: #74654f;
  --color-dark-brown: #4b4032;
  --color-light-brown: #9a866a;
  --color-very-dark-brown: #231f18;
  --color-white: #ffffff;
}

@font-face {
  font-family: "resistsans-dsplmediumoblique";
  src: url("fonts/resistsans_dsplmediumoblique_macroman/resistsans-dsplmediumoblique-webfont.woff2")
      format("woff2"),
    url("fonts/resistsans_dsplmediumoblique_macroman/resistsans-dsplmediumoblique-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "resistsans-txtlight";
  src: url("resistsans-txtlight-webfont.woff2") format("woff2"),
    url("resistsans-txtlight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--background-color-black);
  color: var(--color-white);
  font-family: "resistsans-txtlight";
  padding: 0;
  margin: 0;
}
